
<h2>Login</h2>
<form class="login-form">
    <div>
        <label for="email-input"> email:</label>
        <input class="form-input" type="text" id="email-input"/> 
    </div>
    <div class="password-form">
        <label for="password-input"> password:</label>
        <input class="form-input" type="password" id="password-input">
    </div>
     <div class="">
        <button class="btn waves-effect waves-light" type="submit" name="action">login
  </button>
      </div>
</form>

<div class=""> 
<h2>Signup</h2>
<form class="signup-form">
    <div>
        <label for="name-signup">Name:</label>
        <input class="form-input" type="text" id="name-signup">
    </div>
    <div>
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup">
    </div>
    <div>
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
 <div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Create Account
  </button>
      </div>
</form>
</div>

<script src="/jss/login.js"></script>
